* {
    /* overflow-x: hidden; */
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Prata', serif;
    /* background-color: #A2D9CE; */
}

#ABC {
    background-color: #16161d;
}

hr {
    height: 2px;
    color: gray;
    border-width: 2px;
}

.zoom {
    padding: 0px;
    transition: transform 0.5s;
    width: 475px;
    height: 300px;
    overflow-x: visible;
}

.zoom:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.18);
}

ul {
    transform: translate(-8%, -23%);
    float: right;
    list-style: none;
    margin-top: 0px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    background-color: #fff;
    padding: 5px 20px;
    border: 1px solid #A2D9CE;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px;
}

ul li a:hover {
    background-color: #fff;
    color: #000;
}

ul li.active a {
    background-color: #A2D9CE;
    color: #000;
}

.heading {
    position: center;
    text-align: center;
    margin-top: 100px;
    margin-left: 45vw;
}

h1 {
    color: #ff6347;
    font-size: 85px;
    position: absolute;
    top: 4%;
    left: 14%;
    transform: translate(-50%, -50%);
    font-weight: 2;
}

h1 span {
    font-weight: 800;
    color: #0F138F;
}

h2 {
    color: #001c53;
    font-size: 70px;
    font-family: 'Chivo', sans-serif;
    font-family: 'Playfair Display', serif;
    float: center;
    padding-top: 40%
}

h3 {
    color: #001c53;
    font-size: 70px;
    font-family: 'Chivo', sans-serif;
    font-family: 'Playfair Display', serif;
}

th,
td {
    padding: 5px;
}

body {
    background-color: #ffff;
    background-image: url(background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: relative;
}

.btn {
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s;
    box-shadow: 1px 4px 2px 2px #dcdde1;
    overflow: hidden;
}

.Plan {
    background-color: yellow;
}

.Plan:hover {
    background-color: #00ffcc;
}

.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */
}

a {
    height: 100px;
    width: 100px;
    background-color: #f5f6fa;
    border-radius: 50px;
    text-align: center;
    margin: 10px;
    line-height: 120px;
    box-shadow: 1px 4px 2px 2px #dcdde1;
    overflow: hidden;
}

a i {
    transition: all 0.3s linear;
}

a:hover i {
    transform: scale(1.4);
}

.fa-instagram {
    color: #e84393;
}

.fa-youtube {
    color: #e84118;
}

.fa-linkedin {
    color: #0097e6;
}

.fa-twitter {
    color: #0097e6;
}

@media screen and (max-width: 800px) {
    .bal {
        color: #e84118;
        /* font-size: large; */
    }
    .zoom {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}
